/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
.one {
    display: flex;
    flex-direction: column;
    background-color: mediumpurple;
    justify-content: flex-end;


}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;

}

.eind {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.align-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    flex-basis: 300px;

}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}

.een {
   flex-grow: 2;
    flex-basis: 350px;


}

.twee {
    flex-grow: 2;
    flex-basis: 350px;


}

.drie {
    flex-grow: 2;
    flex-basis: 350px;

}



















